@import "../../variables";

.SortByName {
  margin-bottom: 10px;
  padding: 0 3px;

  @media screen and (min-width: $screen-sm-min) {
    padding: 0;
  }

  &-form {
    text-align: left;
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: $screen-sm-min) {
      text-align: right;
      display: block;
    }

    .form-group {
      margin-bottom: 5px;

      @media screen and (min-width: $screen-sm-min) {
        margin-bottom: 15px;
      }
    }

    .form-control {
      width: auto;
    }
  }
}