@import "../../variables";

.Filters {
  &.panel {
    margin-bottom: 5px;

    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: 20px;
    }

    &-heading:hover {
      cursor: pointer;
    }
    &-title {
      font-weight: 600;
    }
  }
}