@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables",
"../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// React Marve API => (rma)
$rma-red: #f11e22;

$rma-btn-primary-bg: #f0141e;

$rma-white: #fdfdfd;

$rma-grey: #f2f2f2;

$rma-font-family-oswald: 'Oswald', sans-serif;
$rma-font-family-raleway: 'Raleway', sans-serif;

// Bootstrap variables overwrite

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-base: $rma-font-family-raleway;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight: 600;

$btn-primary-color: $rma-white;
$btn-primary-bg: $rma-btn-primary-bg;
$btn-primary-border: darken($rma-btn-primary-bg, 5%);

//== Pagination
//
//##

$pagination-color: $rma-white;
$pagination-bg: black;
$pagination-border: $rma-white;

$pagination-hover-color: black;
$pagination-hover-bg: $rma-white;
$pagination-hover-border: $rma-red;

$pagination-active-color: $rma-white;
$pagination-active-bg: $rma-btn-primary-bg;
$pagination-active-border: $rma-white;

//== Panels
//
//##

$panel-primary-border:        $rma-red;
$panel-primary-heading-bg:    black;

//== Navbar
//
//##

// Basics of a navbar
//$navbar-height:                    50px !default;
//$navbar-margin-bottom:             $line-height-computed !default;
//$navbar-border-radius:             $border-radius-base !default;
//$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
//$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
//$navbar-collapse-max-height:       340px !default;
//
//$navbar-default-color:             #777 !default;
$navbar-default-bg:                $rma-white;
//$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;
//
//// Navbar links
$navbar-default-link-color:                black;
$navbar-default-link-hover-color:          $rma-red;
$navbar-default-link-hover-bg:             darken($rma-grey, 2.5%);
$navbar-default-link-active-color:         $rma-red;
$navbar-default-link-active-bg:            $rma-grey;
//$navbar-default-link-disabled-color:       #ccc !default;
//$navbar-default-link-disabled-bg:          transparent !default;
//
//// Navbar brand label
//$navbar-default-brand-color:               $navbar-default-link-color !default;
//$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
//$navbar-default-brand-hover-bg:            transparent !default;
//
//// Navbar toggle
//$navbar-default-toggle-hover-bg:           #ddd !default;
//$navbar-default-toggle-icon-bar-bg:        #888 !default;
//$navbar-default-toggle-border-color:       #ddd !default;
//


//== Navs
//
//##

//=== Shared nav styles
//$nav-link-padding:                          10px 15px !default;
//$nav-link-hover-bg:                         $gray-lighter !default;
//
//$nav-disabled-link-color:                   $gray-light !default;
//$nav-disabled-link-hover-color:             $gray-light !default;
//
////== Tabs
//$nav-tabs-border-color:                     #ddd !default;
//
//$nav-tabs-link-hover-border-color:          $gray-lighter !default;
//
//$nav-tabs-active-link-hover-bg:             $body-bg !default;
//$nav-tabs-active-link-hover-color:          $gray !default;
//$nav-tabs-active-link-hover-border-color:   #ddd !default;
//
//$nav-tabs-justified-link-border-color:            #ddd !default;
//$nav-tabs-justified-active-link-border-color:     $body-bg !default;
//
////== Pills
//$nav-pills-border-radius:                   $border-radius-base !default;
//$nav-pills-active-link-hover-bg:            $component-active-bg !default;
//$nav-pills-active-link-hover-color:         $component-active-color !default;